# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
dist/
eggs/
*.egg-info/

# Virtual Environment
venv/
ENV/
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
node_modules/
jspm_packages/

# Misc
.DS_Store
Thumbs.db